.login {
    position: fixed;
    top:1vh;
    right: 1vh;
    z-index: 1;

    & > button {
        width:30px;
        height: 30px;
        border-radius: 50%;
        text-indent: -9999px;
        font-size: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        overflow: hidden;
    }
}